@model IEnumerable<crud_students.Models.Student>

@{
    ViewBag.Title = "Students";
}



<div class="container students-index">
    <p>
        <a class="btn btn-secondary" href="#"  onclick='createModal()'>Create new</a>
    </p>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.create_at)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.create_at)
                    </td>
                    <td>
                        <button class="btn btn-outline-warning" onclick="updateModal(@item.id,'@item.name', '@item.surname', @item.age, '@item.gender')">Update</button>
                        <button class="btn btn-outline-info" onclick="infoModal('@item.name', '@item.surname', @item.age, '@item.gender')">Show</button>
                        <button class="btn btn-outline-danger" onclick='deleteModal(@item.id,"@item.name", "@item.surname", "@item.age", "@item.gender")'>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" id="form">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div id="errors"></div>
                        <div class="form-group">
                            <input type="number" id="id" name="id" hidden />
                            <label class="control-label col-md-2">Name</label>
                            <div class="input-text">
                                <input type="text" value="" id="name" name="name" class="form-control" required style="max-width: 100%;width: 100%;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Surname</label>
                            <div class="input-text">
                                <input type="text" value="" id="surname" name="surname" class="form-control" required style="max-width: 100%;width: 100%;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Age</label>
                            <div class="input-text">
                                <input type="number" value="" id="age" name="age" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Gender</label>
                            <div class="input-text">
                                <input type="text" value="" id="gender" name="gender" class="form-control" required style="max-width: 100%;width: 100%;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="max-width: 100%;display: flex;flex-direction: column;justify-content: center;">
                                <input type="submit" value="Create" class="btn btn-outline-primary" style="width: 95%;max-width: 100%;margin: auto;"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="infomodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalInfo"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Name</label>
                        <div class="input-text">
                            <input type="text" value="" id="NameInfo" class="form-control" readonly style="max-width: 100%;width: 100%;" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Surname</label>
                        <div class="input-text">
                            <input type="text" value="" id="surnameInfo" class="form-control" readonly style="max-width: 100%;width: 100%;" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Age</label>
                        <div class="input-text">
                            <input type="number" value="" id="ageInfo" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Gender</label>
                        <div class="input-text">
                            <input type="text" value="" id="genderInfo" class="form-control" readonly style="max-width: 100%;width: 100%;" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="max-width: 100%;display: flex;flex-direction: column;justify-content: center;">
                            <button class="btn btn-outline-primary" style="width: 95%;max-width: 100%;margin: auto;" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalDelete"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Students/Delete" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="number" id="idDelete" name="idDelete" hidden />
                            <label class="control-label col-md-2">Name</label>
                            <div class="input-text">
                                <input type="text" value="" id="NameDelete" class="form-control" readonly style="max-width: 100%;width: 100%;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Surname</label>
                            <div class="input-text">
                                <input type="text" value="" id="surnameDelete" class="form-control" readonly style="max-width: 100%;width: 100%;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Age</label>
                            <div class="input-text">
                                <input type="number" value="" id="ageDelete" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Gender</label>
                            <div class="input-text">
                                <input type="text" value="" id="genderDelete" class="form-control" readonly style="max-width: 100%;width: 100%;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="max-width: 100%;display: flex;flex-direction: column;justify-content: center;">
                                <input type="submit" value="Delete" class="btn btn-outline-danger" style="width: 95%;max-width: 100%;margin: auto;"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





@section scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        let error = '@ViewData["error"]';
        if (error) {
            var errors = document.getElementById('errors');
            errors.innerHTML = error;
            $('#errors').addClass("alert alert-danger");
            createModal();
        }

        function createModal() {
            var form = document.getElementById('form');
            $('#id').val("");
            $('#name').val("");
            $('#surname').val("");
            $('#age').val("");
            $('#gender').val("");
            $('#titleModal').text("New Student");
            form.action = "/Students/CreateWithModal";
            $('#modal').modal('show');
        }
        
        function updateModal(Id, Name, surname, age, gender){
            var form = document.getElementById('form');
            form.action = "/Students/UpdateWithModal";
            $('#id').val(Id);
            $('#name').val(Name);
            $('#surname').val(surname);
            $('#age').val(age);
            $('#gender').val(gender);
            $('#titleModal').text("Update Student");
            $('#modal').modal('show');
        }

        
        function infoModal(Name, surname, age, gender){
            $('#NameInfo').val(Name);
            $('#surnameInfo').val(surname);
            $('#ageInfo').val(age);
            $('#genderInfo').val(gender);
            $('#titleModalInfo').text("Info Student");
            $('#infomodal').modal('show');
        }


        function deleteModal(Id, Name, surname, age, gender){
            $('#idDelete').val(Id);
            $('#NameDelete').val(Name);
            $('#surnameDelete').val(surname);
            $('#ageDelete').val(age);
            $('#genderDelete').val(gender);
            $('#titleModalDelete').text("¿Are you sure delete "+Name+" ?");
            $('#modalDelete').modal('show');
        }

    </script>
}




