@model crud_students.Models.Subjectteacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subjectteacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subject.name_subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject.name_subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
